.to-dos {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.list-item {
  display: flex;
  width: 100%;
  background-color: rgb(48, 48, 48);
  color: white;
  margin-right: 20px;
  padding: 20px;
  border-bottom: solid rgb(180, 0, 0) 1px
}

.due-date {
  margin-left: auto;
}

.description {
  margin-top: 10px;
}